.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.icon-android {
	font-size:(14/16)*1rem;
	width:(12/14)*1em;
}

.icon-arrow-down {
	font-size:(16/16)*1rem;
	width:(16/16)*1em;
}

.icon-arrow-left {
	font-size:(16/16)*1rem;
	width:(16/16)*1em;
}

.icon-check {
	font-size:(16/16)*1rem;
	width:(16/16)*1em;
}

.icon-check_bold {
	font-size:(16/16)*1rem;
	width:(16/16)*1em;
}

.icon-close {
	font-size:(17.17/16)*1rem;
	width:(17.17/17.17)*1em;
}

.icon-eye_close {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}

.icon-eye_open {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}

.icon-facebook {
	font-size:(24/16)*1rem;
	width:(24/24)*1em;
}

.icon-ios {
	font-size:(14/16)*1rem;
	width:(12/14)*1em;
}

.icon-linkedIn {
	font-size:(24/16)*1rem;
	width:(24/24)*1em;
}

.icon-loupe {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}

.icon-medium {
	font-size:(14/16)*1rem;
	width:(24/14)*1em;
}

.icon-reddit {
	font-size:(24/16)*1rem;
	width:(24/24)*1em;
}

.icon-telegram {
	font-size:(24/16)*1rem;
	width:(24/24)*1em;
}

.icon-twitter {
	font-size:(20/16)*1rem;
	width:(24/20)*1em;
}

.icon-window {
	font-size:(150/16)*1rem;
	width:(150/150)*1em;
}

.icon-youtube {
	font-size:(18/16)*1rem;
	width:(24/18)*1em;
}

